/* selector universal */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* ejemplo con el selector universal */
* {
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
}

/* selector de tipo */
h2 {
  background-color: skyblue;
}

/* selector descendiente */
p {
  background-color: grey;
}
div p {
  background-color: DodgerBlue;
}
