/* selector universal */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* ejemplo con el selector universal */
* {
  font-family: Arial, sans-serif;
  color: #333;
  text-decoration: none;
}

/* selector de tipo */
h2 {
  background-color: skyblue;
}

/* selector descendiente */
p {
  background-color: grey;
}
article p {
  background-color: DodgerBlue;
}

/* selector de clase */
.fullscreen {
  min-width: 100vw;
  min-height: 100vh;
}

/* selector de ID */
#title {
  color: darkcyan;
  font-size: large;
}

/* Selector de hijo */
span {
  background-color: red;
}
div > span {
  background-color: DodgerBlue;
}

/* selector adyacente */
li:first-of-type + li {
  color: red;
}

/* colsiones */
p {
  color: red;
}
p#colision {
  color: green;
}
* {
  color: blue;
}

article:hover {
  background-color: #f89b4d;
}
